/* CSS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.frame {
  background-color: rgba(250, 249, 250, 0.925) ;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  grid-template-rows: 1fr auto auto;
}

.header {
  background-color: #4A3979;
  grid-column-start: 2;
  grid-column-end: 4; 
  margin-top: 5vmin;
  margin-bottom: 0.1em;
}

.title {
  grid-column-start: 2;
  grid-column-end: 4; 
  font-size: 5vmin;
  color: #fff;
  margin-left: 5vmin;
}

.btnBar{
  grid-column-start: 2;
  grid-column-end: 4; 
  margin-left: 5vmin;
  margin-bottom: 1vmin;
}

.btn {
  background: rgb(74, 197, 241);
  border: none;
  padding: 1vmin;
  margin: 0.2vmin;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 1.3vmin;
  font-size: 3.5vmin;
  color: #4A3979;
}

.feeds {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.feed {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-template-rows: minmax(6vmin, auto);
  background-color: #fff;
  margin: 0.2vmin 0 0.5vmin 0 ;
}

.feed-icon {
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  background-color: grey;
  width: 6vmin;
  height: 6vmin;
}

.feed-title {
  grid-column-start: 2;
  align-self: center;
  font-size: 3.5vmin;
}

.feed-desc {
  grid-column-start: 3;
  align-self: center;
  font-size: 3vmin;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: -1;
  background-color: #4A3979;
  height: 1.63vmin;
}

.online {
  background-color: rgb(135, 245, 135);
}

.offline {
  background-color: rgb(219, 214, 214);
}
