/* CSS */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.frame {
  background-color: #FAF9FA ;
  width: 100%;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: #4A3979;
  grid-column-start: 2;
  grid-column-end: 4; 
  margin-top: 5vmin;

}

.title {
  grid-column-start: 2;
  grid-column-end: 4; 
  font-size: 5vmin;
  color: #fff;
}

.btnBar{
  grid-column-start: 2;
  grid-column-end: 4; 
}

.feeds {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.feed {
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  grid-template-rows: minmax(6vmin, auto);
  background-color: #fff;
  padding: 0.5vmin;
}

.feed-online {
  background-color: lightgreen;
}

.feed-offline {
  background-color: lightcoral;
}

.feed-icon {
  grid-column-start: 1;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  background-color: grey;
  width: 6vmin;
  height: 6vmin;
}

.feed-title {
  grid-column-start: 2;
  align-self: center;
}

.feed-desc {
  grid-column-start: 3;
  align-self: center;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: -1;
  background-color: #4A3979;
}
